In [ ]:
s=""
1=[1,2,3,4]
1=()
dict={"ROW_ID":1,"order_ID":

In [6]:
# characteristics
# 1. unordered
my_dict={'name':'alice','age':25,'city':'new york'}
my_dict

{'name': 'alice', 'age': 25, 'city': 'new york'}

In [7]:
# 2. mutable(the dictionary can be modified after creation)
my_dict['name']='navya'
my_dict

{'name': 'navya', 'age': 25, 'city': 'new york'}

In [8]:
my_dict['age']=21
my_dict

{'name': 'navya', 'age': 21, 'city': 'new york'}

In [9]:
#  3. unique keys
my_dict={'name':'alice','age':67,'age':65,'age':89}
my_dict

{'name': 'alice', 'age': 89}

In [1]:
# 4. immutable keys(keys must be immutable types such as strings, numbers or tuples)
my_dict={(1,2):"point",'name':"alice"}
print(my_dict)

{(1, 2): 'point', 'name': 'alice'}

In [11]:
my_dict1={1:'hello'}

In [12]:
my_dict2={[1,2]:'hello'}

TypeError: unhashable type: 'list'

In [3]:
# 5.dynamic
del my_dict['name']

In [4]:
my_dict

{(1, 2): 'point'}

keys and values in a python dictionary

In [ ]:
1. keys in dictionary
uniqueness
immutable

In [ ]:
2. values in a dictionary
no uniqueness constraint
mutable or immutable


#  for keys we cannot use dictionary

accessing dictionary elements

In [17]:
#  1. accessing a value by key 
dict1={
    'name':'alice',
    "age":25,
    'hobbies':['reading','hiking'],
    'education':{'degree':'bca','year':2015}
}

In [18]:
dict1['age']

25

In [20]:
dict1['education']['year']

2015

In [21]:
dict1['hobbies'][1]

'hiking'

In [22]:
dict1['hobbies']

['reading', 'hiking']

In [23]:
# 2. using get() method
dict1={
    'name':'alice',
    "age":25
}
dict1['age']

25

In [24]:
dict1.get('name')

'alice'

In [28]:
dict1.get('city')

In [29]:
dict1.get('age')

25

In [30]:
print(dict1.get('city'))

None

In [34]:
# 3. accessing all keys
dict1={
    'name':'alice',
    "age":25
}
dict1.keys()

dict_keys(['name', 'age'])

In [33]:
# 4. accessing all values
dict1={
    'name':'alice',
    "age":25
}
dict1.values()

dict_values(['alice', 25])

In [35]:
# 5. aceessing all key-value pairs
dict1={
    'name':'alice',
    "age":25
}
dict1.items()

dict_items([('name', 'alice'), ('age', 25)])

In [42]:
# 6. iterating over keys n values
dict1={'name':'alice',"age":25,'city':'new york'}
for i in dict1:
    print(i)

name
age
city

In [43]:
for i in dict1.values():
    print(i)

alice
25
new york

In [44]:
for i in dict1.items():
    print(i)

('name', 'alice')
('age', 25)
('city', 'new york')

In [46]:
for i,j in dict1.items():
    print(f'{i}: {j}')

name: alice
age: 25
city: new york

In [55]:
#  nested dictinary in python
nested_dict={
    'person1':{
        'name':'alice',
        'age':25,
        'city':'new york'
    },
    'person2':{
        'name':'bob',
        'age':31,
        'city':'delhi'
    }
}

In [56]:
nested_dict

{'person1': {'name': 'alice', 'age': 25, 'city': 'new york'},
 'person2': {'name': 'bob', 'age': 31, 'city': 'delhi'}}

In [57]:
# accessing nested dictionary
nested_dict['person2']

{'name': 'bob', 'age': 31, 'city': 'delhi'}

In [58]:
nested_dict['person1']

{'name': 'alice', 'age': 25, 'city': 'new york'}

In [59]:
nested_dict['person1']['city']

'new york'

In [60]:
nested_dict['person2']['name']

'bob'

In [65]:
# modifying elements in a nested dictionary
nested_dict['person1']['name']='navya'
nested_dict

{'person1': {'name': 'navya', 'age': 25, 'city': 'new york'},
 'person2': {'name': 'bob', 'age': 31, 'city': 'delhi'},
 'person3': {'name': 'diana', 'age': 26, 'city': 'boston'}}

In [62]:
#  adding a new dictionary to a nested dictionary

In [66]:
nested_dict['person3']={
    'name':'diana',
    'age':26,
    'city':'boston'
}

In [67]:
nested_dict

{'person1': {'name': 'navya', 'age': 25, 'city': 'new york'},
 'person2': {'name': 'bob', 'age': 31, 'city': 'delhi'},
 'person3': {'name': 'diana', 'age': 26, 'city': 'boston'}}

In [68]:
nested_dict['person4']='yogi'
nested_dict

{'person1': {'name': 'navya', 'age': 25, 'city': 'new york'},
 'person2': {'name': 'bob', 'age': 31, 'city': 'delhi'},
 'person3': {'name': 'diana', 'age': 26, 'city': 'boston'},
 'person4': 'yogi'}

In [ ]:
#  looping through a nested dictionary
users={
    
}

In [ ]:
# adding key-value pairs to a dictionary

In [ ]:
# removing 
del
pop
popitem()

In [69]:
# 1.using del
my_dict={'name':'alice',"age":25,'city':'new york','profession':'engineer'}
del my_dict['age']

In [70]:
 my_dict

{'name': 'alice', 'city': 'new york', 'profession': 'engineer'}

In [72]:
# 2. using pop() method
my_dict.pop('profession')

'engineer'

In [73]:
my_dict

{'name': 'alice', 'city': 'new york'}

In [74]:
# 3. using pop item()method= removes the last key-value pair from the dictionary
my_dict.popitem()

('city', 'new york')

In [75]:
my_dict

{'name': 'alice'}

In [76]:
my_dict.popitem()

('name', 'alice')

In [77]:
my_dict

{}

In [ ]:
# membership operator
in opearator
not in opearator

In [78]:
# 1. in opearator
my_dict={'name':'alice',"age":25,'city':'new york','profession':'engineer'}
25 in my_dict

False

In [79]:
'age' in my_dict

True

In [81]:
#  not in
'city' not in my_dict

False

In [82]:
'course' not in my_dict

True

In [ ]:
students={
    'alice':{'age':20,'grade':'A'},
    'bob':{'age':25,'grade':'B'},
    'diana':{'age':30,'grade':'A+'}
}
for i

In [84]:
# dictionary comprehension
# 1. basic dictionary comprehension
squares={i:i**2 for i in range(1,6)}
squares

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [89]:
# dictionary comprehension with condition
squares={x:x**3 for x in range(1,11) if x%2==0}
squares

{2: 8, 4: 64, 6: 216, 8: 512, 10: 1000}

In [ ]:
# advantages
conciseness
readability
efficiency