type casting

conversion of one type of data to another

1. implicit conversion(is a type conversion done by python itself)

In [10]:
print(8+5.3)

13.3

In [11]:
print(type(8),type(5.3))

<class 'int'> <class 'float'>

In [12]:
#implicit does not work here
print(8+'9')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

2. explicit conversion(where the coder explicitly write a code to convert)

In [16]:
a=10

In [17]:
b=str(a)

In [18]:
b

'10'

In [26]:
b=4+5j

In [28]:
c=str(b)
c

'(4+5j)'

In [29]:
c=int(b)
c

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

what is syntax

In [62]:
# syntax refers to the set of rules that defines the structure of valid statements and expressions in programming language
print('hello world')# the syntax is correct

hello world

In [63]:
print "hello world" #incorrect

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (1232718335.py, line 1)

literals

In [64]:
# a literal ia a fixed value that is directly written into the code and represents a specific data type
age=30 #30 is integer literal
age

30

In [65]:
greeting="morning" # morning is a string literal
greeting

'morning'

Operators
(arithmetic, relational,logical,bitwise,membership operators)

In [1]:
#type3s of arithmetic operators

In [2]:
#1. addition
3+4

7

In [3]:
#subtraction
5-3

2

In [4]:
#multipication
4*5

20

In [5]:
#division(/)
24/4

6.0

In [6]:
#modulus(%)
26%3

2

floor division

this operator divides the 1st number by the second and returns the largest integer less than `

In [9]:
16/3

5.333333333333333

In [8]:
#floor division
result=16//3
result

5

In [13]:
#exponential(this operator raises the 1st number to the power of the second)
2**3

8

In [14]:
2*2*2*2

16

In [15]:
#combining arithmetic operators (based on precedence n associativity)
#() ? / < * + -
5+3*2-8/4

9.0

In [35]:
#question time 1
scores=[85,90,78,92,88]
total_score=sum(scores)
total_score

433

In [36]:
433/5

86.6

In [37]:
len(scores)

5

In [23]:
(85+90+78+92+88)/5

86.6

In [39]:
#2
monthly_budget=1200
spent=[350,150,200]
bal=monthly_budget-(sum(spent))
bal

500

In [55]:
budget=1200
groceries=350
utilities=150
transportation=200
balance_amt=budget-(groceries+utilities+transportation)
balance_am

NameError: name 'balance_am' is not defined

In [44]:
cost=75
discount=20
con=discount/100*75
final_price=cost-con
final_price

60.0

In [45]:
book=23.75
paying=50
change=paying-book
change

26.25

In [51]:
width=10
length=15
area=(width*length)
area

150

In [52]:
alice=25
bob=30
age=bob-alice
age

5

In [53]:
bought=120
sold=180
profit=sold-bought
profit

60

In [57]:
profit_percent=profit/120*100
profit_percent

50.0

In [58]:
# relational operators
#(equal to ==, greater, lesser than so on)
2==3

False

In [59]:
3==3

True

In [60]:
a=5
b=3
a>b

True

In [61]:
a<b

False