dictionary data type

In [9]:
#dictionary

In [1]:
student={"name": "navya","age":20,"course": "bca"}

In [2]:
print(student)

{'name': 'navya', 'age': 20, 'course': 'bca'}

In [3]:
type(student)

dict

In [4]:
info={"names":["navya","padma"],"age":[20,22]}
print(info)

{'names': ['navya', 'padma'], 'age': [20, 22]}

In [5]:
print(info['age'])

[20, 22]

In [7]:
print(info["names"][1])

padma

In [8]:
car_info={"model":535577,"brand": "swiz"}

variables

In [12]:
ab=23
print(ab)

23

In [13]:
1rf=87

SyntaxError: invalid decimal literal (1472011565.py, line 1)

In [14]:
_ab=89

In [15]:
34="rd"

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3605406608.py, line 1)

In [16]:
AB=67

In [17]:
print(AB)

67

In [18]:
print(ab)

23

In [ ]:
# always start with letter or _ dont use digits or other special characters and white spaces

In [19]:
myVariable=332

In [20]:
myVariable

332

In [21]:
MyVariable=647

In [22]:
myVariable

332

In [23]:
MyVariable

647

In [24]:
user-age=65

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2977679311.py, line 1)

In [25]:
user_age=45

In [26]:
user_age

45

In [27]:
for_4=89

In [28]:
for=56
#reserved keywords are not allowed as variables

SyntaxError: invalid syntax (2995724140.py, line 1)

In [ ]:
# variable name shld b descriptive n meaningful, providing some indication of the poupose or content variable

In [29]:
saturday_sales=763

In [30]:
roll_number=544

In [37]:
sales=54

In [ ]:
profit=

In [32]:
#dont use built in functions or modue names as variable name to prevent conflicts n comfusion

In [33]:
list=55

In [34]:
tuple=65

In [35]:
list

55

In [36]:
tuple

65

In [38]:
#dont use spaces b/w varible name instead use underscore

In [39]:
name age

SyntaxError: invalid syntax (226413979.py, line 1)

In [40]:
name_age=65

In [41]:
#try to use always lowercase letters for var names

In [43]:
#consistent naming style of var name

comments

In [ ]:
# comments will be ignored by the interpreter , its for human understandable n readability

In [44]:
# this is string data type
str1="abc"

In [45]:
#this is list
list1=[3,7,7]
list1

[3, 7, 7]

In [46]:
"""this is 
multiline comment syntax
and i am practicing python coding 
"""

'this is \nmultiline comment syntax\nand i am practicing python coding \n'

In [49]:
# this is comment line
print("hello world")#printing hello world

hello world

##keywords

In [ ]:
a keyword is a reserved word in python that has a predefined meaning and cannot b used as an identifier(such as variable names)

keywords and indentifiers

In [50]:
if for in False True else

SyntaxError: invalid syntax (3097183176.py, line 1)

In [51]:
var=67

In [52]:
if=9

SyntaxError: invalid syntax (1468122953.py, line 1)

identifiers

In [53]:
"""is a name used to identify a vaeiable , function,class,module or other objects in python
identifiers must start with letter or _ followed by letters , numbers or underscores
they cant be keyword""

In [ ]:
def func()

user input

In [55]:
# it allows to take input from the user

In [56]:
name=input("enter your name:")

enter your name: navya

In [57]:
print(name)

navya

In [58]:
type(name)

str

In [59]:
age=input()

 44

In [60]:
age

'44'

In [61]:
type(age)

str

In [62]:
age=int(input())

 33

In [63]:
age
type(age)

int

In [64]:
movie_name=input("enter movie name=")
movie_hero=input()
movie_heroine=input()
release_year=int(input("enter the year"))

enter movie name= varsham
 prabhas
 trisha
enter the year 2004

In [65]:
print(movie_name,type(movie_name))
print(release_year,type(release_year))

varsham <class 'str'>
2004 <class 'int'>

In [66]:
movie_heroine

'trisha'

In [67]:
movie_hero

'prabhas'

In [68]:
email=input("enter email id:")
password=input("enter the password")

enter email id: navya24456@gmail.com
enter the password navya123reddy554

In [69]:
email

'navya24456@gmail.com'

In [70]:
password

'navya123reddy554'

In [71]:
a=int(input("enter the first number="))
b=int(input("enter second number="))
print(a+b)

enter the first number= 5
enter second number= 3

8

In [72]:
a=input("enter the first number=")
b=input("enter second number=")
print(a+b)

enter the first number= 54
enter second number= 34

5434

In [75]:
floating=float(input("enter floating point number" ))

enter floating point number 56.8

In [76]:
a=int(input("enter the first number="))
b=int(input("enter second number="))
print("addition=",a+b)
print("substaction=",a-b)
print("multiplication=",a*b)
print("division=",a/b)
print("modulus=",a%b)

enter the first number= 10
enter second number= 8

addition= 18
substaction= 2
multiplication= 80
division= 1.25
modulus= 2