# functions

In [ ]:
a user defined function is a block of code that performs a specific task and is created by the user

In [ ]:
syntax, as 

def function_name():

    # function body
    # code to execute

In [1]:
# example

def add_two():
    a=10
    b=5
    c=a+b
    print(c)

add_two()

15

In [2]:
def greet():
    name=input('enter your name:')
    print(f'hello {name} welcome to the party')

greet()

enter your name: navya

hello navya welcome to the party

function calling

In [3]:
def sub():
    x=20
    y=15
    c=x-y
    print(c)

sub()

5

In [6]:
def calculator():
    num1=int(input('enter 1st number:'))
    num2=int(input('enter 2st number:'))
    add=num1+num2
    sub=num1-num2
    product=num1*num2
    division=num1/num2
    user=input('enter the operation (+,-,*,/): ')
    if user=='+':
        print(add)
    elif user=='-':
        print(sub)
    elif user=='/':
        print(division)
    elif user=='*':
        print(product)
    else:
        print('enter valid operation')

calculator()

enter 1st number: 10
enter 2st number: 8
enter the operation (+,-,*,/):  *

80

In [7]:
def mul_table():
    num=int(input('enter multiplication table: '))
    for i in range(1,11):
        print(f'{num} x {i} = {num*i} ')

mul_table()

enter multiplication table 6

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [9]:
def mul_table(num):
    # num=int(input('enter multiplication table: '))
    for i in range(1,11):
        print(f'{num} x {i} = {num*i} ')

mul_table(7)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
parameters
arguments

syntax

def func_name(par1,par2): // parameters - are the placeholders
    # function body


func_name(arg1,arg2)    // argumants - actual values passed to the function when it is called

In [10]:
def greet(name):   // name is  a parameter
    print(f'hello, {name}!')

greet('alice')      // alice is an argument

hello, alice!

In [ ]:
formal parameters
actual parameters

In [12]:
def greet(name):   # name is  a formal parameters
    print(f'hello, {name}!')

greet('alice')     # alice is an  actual parameters

hello, alice!

In [ ]:
return statements in python
key points
exiting function
returning a value
multiple retrurns
return without a value

In [13]:
def func():
    a=67
    b=43
    return a+b

func()

110

In [14]:
#  basic use of return

def func():
    a=67
    b=43
    c=a+b
    return c

func()

110

In [ ]:
methods that return something

data type              method             description
list
dictionary
set

In [17]:
# returning multiple values
# early exit with return
def check_even(num):
    if num%2==0:
        return "even"

    return "odd"

check_even(6)

'even'

In [18]:
# collections
def create_list():
    return [1,2,3,4]

my_list=create_list()
print(my_list)

[1, 2, 3, 4]

In [19]:
def create_list(list):
    return list

my_list=create_list([1,2,3,4])
print(my_list)

[1, 2, 3, 4]

In [ ]:
types of arguments
default argument